%p Hello #{@user.name}

%p Your Leave from #{@leave.start_date} to #{@leave.end_date} is rejected.

%p Rejection Reason: #{@leave.rejection_reason}

%P
  Thanks & Regards,
%p
  &nbsp;&nbsp; "#{@user.manager.email}
