%p Respected Sir/Madam

%p I have modified the applied Leave. The Leave Details are as follows.

%p
  Leave Start Date: "#{@leave.start_date}"
%p
  Leave End Date: "#{@leave.end_date}"
%p
  Leave Total days: "#{@leave.no_of_days}"
%p
  Reason: "#{@leave.reason}"


%P
  Thanks & Regards,
%p
  &nbsp;&nbsp; "#{@user.email}
%p
