%h1 Listing holidays

%table
  %tr
    %th Date
    %th Occasion
    %th
    %th
    %th

  - @holidays.each do |holiday|
    %tr
      %td= holiday.date
      %td= holiday.occasion
      %td= link_to 'Show', holiday
      %td= link_to 'Edit', edit_holiday_path(holiday)
      %td= link_to 'Destroy', holiday, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Holiday', new_holiday_path
