.content-widgets.light-gray
  .widget-head.orange
    %h3 Listing holidays
  .widget-container
    #data-table_wrapper.dataTables_wrapper.form-inline
      %table#data-table.table.table-striped.table-bordered.dataTable
        %tr
          %th Date
          %th Occasion
          - if current_user.is_admin?
            %th
            %th
            %th

        - @holidays.each do |holiday|
          %tr
            %td= holiday.date
            %td= holiday.occasion
            - if current_user.is_admin?
              %td
                = link_to setting_holiday_path(holiday.setting, holiday) do
                  <i class='icon-reorder' title='view'></i>
              %td
                = link_to edit_setting_holiday_path(holiday.setting, holiday) do
                  <i class='icon-edit' title='edit'></i>
              %td
                = link_to [holiday.setting, holiday], :method => :delete, :data => { :confirm => 'Are you sure?' } do
                  <i class='icon-trash' title='delete'></i>

      %br
      .digg_pagination
        = will_paginate @holidays, :container => false
      %br

= link_to 'New Holiday', new_setting_holiday_path, :class => 'btn btn-danger'
