.content-widgets.gray
  .widget-head.orange
    %h3 Holiday
  .widget-container
    %p
      %b Date:
      = @holiday.date
    %p
      %b Occasion:
      = @holiday.occasion

    = link_to edit_setting_holiday_path(@setting, @holiday) do
      %i.icon-edit{ title: 'Edit' }
    \|
    = link_to setting_holidays_path do
      %i.icon-arrow-left{ title: 'Back' }
    \|
    = link_to new_setting_holiday_path(@setting) do
      %i.icon-plus{ title: 'Add' }
