<div class='stepy-widget'>
  <div class='widget-head clearfix orange'>
    <div id='top_tabby' class='pull-right'>
      <ul id='stepy_form-titles' class='stepy-titles'>
        <li id='stepy_form-title-0' class='current-step'>
          <div>Step1</div>
        </li>

        <li id='stepy_form-title-1' class='current-step'>
          <div>Step2</div>
        </li>
      </ul>
    </div>
  </div>

  <div class='widget-container gray'>
    <div class='form-container'>
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: {id: 'stepy_form', class: 'form-horizontal'} do |f| %>
        <%= devise_error_messages! %>
        <fieldset id="stepy_form-step-0" class="step" title="Step 1">
          <legend style="display: none;">description one</legend>
          <div class='control-group'>
            <label class='control-label'>Email</label>
            <div class='controls'>
              <%= f.email_field :email, :class => "error" %>
            </div>
          </div>

          <div class='control-group'>
            <label class='control-label'>Alternate Email</label>
            <div class='controls'>
              <%= f.email_field :alternate_email, :class => "error" %>
            </div>
          </div>

          <div class='control-group'>
            <label class='control-label'>Phone Number</label>
            <div class='controls'>
              <%= f.text_field :phone_number, :class => "error" %>
            </div>
          </div>

          <div class='control-group'>
            <label class='control-label'>Alternate Phone Number</label>
            <div class='controls'>
              <%= f.text_field :alternate_phone_number, :class => "error" %>
            </div>
          </div>
        </fieldset>

        <fieldset id="stepy_form-step-1" class="step" title="Step 2" style="display: none;">
          <legend style="display: none;">description Two</legend>
          <div class='control-group'>
            <label class='control-label'>Password</label>
            <div class='controls'>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>

          <div class='control-group'>
            <label class='control-label'>Confirm Password</label>
            <div class='controls'>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>

          <div class='control-group'>
            <label class='control-label'>Blood Group</label>
            <div class='controls'>
              <%= f.text_field :blood_group %>
            </div>
          </div>

        </fieldset>
        <button type="submit" class="finish btn btn-extend"> Finish!</button>
      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>

<script type="text/javascript">
  $(function () {
    /*==JQUERY STEPY==*/
    $('#stepy_form').stepy({
        backLabel: 'Back',
        nextLabel: 'Next',
        errorImage: true,
        block: true,
        description: false,
        legend: false,
        titleClick: true,
        titleTarget: '#top_tabby',
        validate: true
    });

    $('#stepy_form').validate({
      errorPlacement: function (error, element) {
          $('#stepy_form div.stepy-error').append(error);
      },
      rules: {
          'user[email]': 'required',
          'user[alternate_email]': 'required',
          'user[phone_number]': 'required',
          'user[alternate_phone_number]': 'required'
      },
      messages: {
          'user[alternate_email]': {
              required: 'alternate_email field is required!'
          },
          'user[email]': {
              required: 'Email field is requerid!'
          },
          'user[phone_number]': {
              required: 'phone_number field is requerid!'
          },
          'user[alternate_phone_number]': {
              required: 'alternate_phone_number field is requerid!'
          },

      }
     });
  });
</script>
