.content-widgets.light-gray
  .widget-head.orange
    %h3 Listing settings
  .widget-container
    #data-table_wrapper.dataTables_wrapper.form-inline
      %table#data-table.table.table-striped.table-bordered.dataTable
        %tr
          %th Year
          %th Total leaves
          %th
          %th
          %th
          %th

        - @settings.each do |setting|
          %tr
            %td= setting.year
            %td= setting.total_leaves
            %td
              = link_to setting do
                %i.icon-reorder{:title => 'view'}
            %td
              = link_to edit_setting_path(setting), :class => 'edit-setting' do
                %i.icon-edit{:title => 'edit'}
            %td
              = link_to setting, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'delete-setting' do
                %i.icon-trash{:title => 'delete'}
            %td= link_to 'Manage Holidays', holidays_path(setting)

      %br
      .digg_pagination
        = will_paginate @settings, :container => false
      %br

= link_to 'New Setting', new_setting_path, :class => 'btn btn-danger'
