= form_for [@user, @leave] do |f|
  = render :partial => 'shared/error_messages', :locals => { :target => @leave }
  .control-group
    .control-label
      = f.label :start_date, 'Start Date'
    .controls
      = f.text_field :start_date, :id => 'leaves_start_date'
  .control-group
    .control-label
      = f.label :end_date, 'End Date'
    .controls
      = f.text_field :end_date, :id => 'leaves_end_date'
  .control-group
    .control-label
      = f.label :reason
    .controls
      = f.text_field :reason
  .control-group
    .controls
      = f.submit 'Save', :class => 'btn btn-danger'
