.content-widgets.light-gray
  .widget-head.orange
    - title = (params[:status] || 'Pending').capitalize + ' Leaves'
    %h3= title
  %br
  .widget-container
    = link_to 'pending', leaves_path(status: 'pending'), :class => 'btn btn-orange'
    = link_to 'Approved', leaves_path(status: 'approved'), :class => 'btn btn-orange'
    = link_to 'Rejected', leaves_path(status: 'rejected'), :class => 'btn btn-orange'
    %br
    %br
    #data-table_wrapper.dataTables_wrapper.form-inline
      %table#data-table.table.table-bordered.dataTable
        %tr
          %th Applied By
          %th Start date
          %th End date
          %th Number Of Days
          %th Status
          %th Reason
          %th{colspan: current_user.is_admin? ? 3 : 1} Action

        - @leaves.each do |leave|
          %tr
            %td= leave.user.name
            %td= leave.start_date
            %td= leave.end_date
            %td= leave.no_of_days
            %td= leave.status
            %td= leave.reason
            = render_links(leave)
%br
