%h1 Pending Leaves

%table
  %tr
    %th Applied By
    %th Start date
    %th End date
    %th Number Of Days
    %th Status
    %th Reason
    %th

  - @leaves.each do |leave|
    %tr
      %td= leave.user.name
      %td= leave.start_date
      %td= leave.end_date
      %td= leave.no_of_days
      %td= leave.status
      %td= leave.reason
      //%td= render_links(leave)
%br
