%h1 Listing leaves

%table
  %tr
    %th Start date
    %th End date
    %th No of days
    %th Status
    %th Reason
    %th Approved on
    %th Approved by
    %th Rejection reason
    %th References
    %th
    %th
    %th

  - @leaves.each do |leafe|
    %tr
      %td= leafe.start_date
      %td= leafe.end_date
      %td= leafe.no_of_days
      %td= leafe.status
      %td= leafe.reason
      %td= leafe.approved_on
      %td= leafe.approved_by
      %td= leafe.rejection_reason
      %td= leafe.references
      %td= link_to 'Show', leafe
      %td= link_to 'Edit', edit_leafe_path(leafe)
      %td= link_to 'Destroy', leafe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Leave', new_leafe_path
