!!!
%html
  %head
    %title Leave Tracking System
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .layout
      .navbar.navbar-inverse.top-nav
        .navbar-inner
          .container
            %a.brand{:href => "/"}
              CubeRoot LTS
            .btn-toolbar.pull-right.notification-nav
              .btn-group
                .dropdown
                  -if user_signed_in?
                    %a.btn.btn-notification(rel="nofollow" data-method="delete" href="/users/sign_out")
                      %i.icon-lock

    .leftbar.leftbar-close.clearfix
      .admin-info.clearfix
        -if user_signed_in?
          .admin-thumb
            %i.icon-user
          .admin-meta
            %ul
              %li.admin-username
                = current_user.email
              %li
                = link_to 'Profile', '#'
                %a{:href => '/users/sign_out', 'data-method' => 'delete'}
                  %i.icon-lock
                  Logout
      .left-nav.clearfix
        .left-primary-nav
          -if user_signed_in?
            %ul#myTab
              %li.active
                %a.icon-desktop{:href => "#main", 'data-original-title' =>"Dashboard", :style => "font-size: 24px;"}
        .left-secondary-nav.tab-content
          %ul.accordion-nav
            - if current_user.is_admin?
              %li
                = link_to 'Settings', settings_path
              %li
                = link_to 'Users', users_path

    .main-wrapper
      .container-fluid
        .row-fluid
          .span12
            - flash.each do |name, msg|

              = content_tag :div, msg, :class => "alert alert-#{name}" if msg.present?
            = yield
    .copyright
      %p
        &copy; 2014
        %a{:href => 'http://cuberoot.in/', :target => "_blank"} CubeRoot Software
